.page-perfil{
    display: flex;
    flex-direction: column;
    .cabecalho-perfil{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        .img-perfil{
            width: 450px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        .infos-perfil{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 2.5rem;
            h1{
                margin: 0;
            }
            .nome{
                font-size: 2.5rem;
                font-weight: 700;
            }
            .email, .telefone{
                color: #b0b0b0;
                font-size: 1.5rem;
            }
            .total-pets{
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }
    h1.titulo-pets{
        font-size: 3rem;
        width: 90%;
        border-bottom: solid 1px black;

    }
}