.page-perfil-pet{
    display: flex;
    flex-direction: column;
    .pet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-bottom: 90px;
        margin-top: 100px;
        border-bottom: solid 1px black;
        .imagem-pet{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            .tipo-pet{
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
        .img-pet{
            width: 450px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: solid 1px black;
        }
        .icon-pet{
            opacity: 0.25;
        }
        .infos-pet{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 2.5rem;
            
            h1.nome-pet {
                margin: 0;
                font-size: 2.5rem;
                font-weight: 700;
            }   
            .raca, .idade, .peso, .sexo{
                font-size: 1.5rem;
            }
            .btn-detalhes{
                background-color: $azulClaro;
                border-radius: 15px;
                border: none;
                font-size: 1.5rem;
                width: 250px;
                height: 60px;
                transition: .3s;
                &:hover{
                    background-color: $azulClaroHover;
                }
            }
        }
    }
    .tabelas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 180px;
        margin-bottom: 200px;
        .tabela{
            width: 640px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .titulo-tabela{
                width: 100%;
                height: 70px;
                line-height: 70px;
                background-color: $azul;
                border-radius: 15px;
                color: white;
                text-align: center;
                font-size: 1.5rem;
            }
            table{
                width: 100%;
                margin-top: 50px;
                tr{
                    height: 50px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        border-bottom: solid 1px black;
                    }
                    th{
                        margin-bottom: 5px;
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-align: start;
                        &:first-child{
                            width: 55%;
                        }
                        &:last-child{
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
}